@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');







@tailwind base;
@tailwind components;
@tailwind utilities;



/* for navbar */
.menu-overlay {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.menu-link:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: 0.3s all;
}

.menu-link:hover.menu-link:after {
    width: 100%;
}



.btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    transition: 0.3s all;
    z-index: -1;
}

.btn:hover a {
    color: white;
}

.btn:hover.btn:before {
    width: 100%;
}


.btnTwo:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    transition: 0.3s all;
    z-index: -1;
}

.btnTwo:hover {
    color: white;
}

.btnTwo:hover.btnTwo:before {
    width: 100%;
}


