@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif&display=swap');







@tailwind base;
@tailwind components;
@tailwind utilities;



/* for navbar */
.menu-overlay {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.menu-link:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: black;
    transition: 0.3s all;
}

.menu-link:hover.menu-link:after {
    width: 100%;
}



.btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    transition: 0.3s all;
    z-index: -1;
}

.btn:hover a {
    color: white;
}

.btn:hover.btn:before {
    width: 100%;
}




/* for button */
.btnTwo:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: black;
    transition: 0.3s all;
    z-index: -1;
}

.btnTwo:hover {
    color: white;
}

.btnTwo:hover.btnTwo:before {
    width: 100%;
}

/* /For cursor */
.circle {
    position: fixed;
    /* background-color: #000000a2; */
    /* width: 40px; */
    /* height: 40px; */
  left:-1px;
  top:-1px;
    border-radius: 100%;
    z-index: 1;
    /* // user-select: none; */
    /* // pointer-events: none; */
    z-index: 10000;
    transform: scale(1);
    &.active {
        opacity: 1;
        transform: scale(0);
    }
}

.circle-follow {
   position: fixed;
    /* border:1px solid #841ed2b0; */
    width: 30px;
    height: 30px;
  left:-61px;
  top:-61px;
    border-radius: 100%;
    z-index: 1;
    user-select: none;
    pointer-events: none;
    z-index: 10000;
    /* //overflow: hidden; */
    transform: scale(1);
    &.active {
        transform: scale(3);
    }  
}








